<div class="foot">                                                                      
	<div class="foot_l">      
    	<a href="{{ site.baseurl }}/">首页</a>|
		<a href="{{ site.baseurl }}/pages/intro1.html">公司概况</a>|
		<a href="{{ site.baseurl }}/pages/bus1.html">经营业务</a>|
        <a href="{{ site.baseurl }}/pages/hezuo.html">合作案例</a>|
		<a href="{{ site.baseurl }}/pages/culture1.html">企业文化</a>|
        <!--
        <a href="http://cloud.dlnel.org/" target="_blank">共享服务</a>|
        -->
        <a href="{{ site.baseurl }}/pages/contact.html">联系我们</a>
    </div>
    <!--
    <div class="foot_z">
        &copy;2017 Baidu <a href="https://www.baidu.com/duty/" target="_blank">使用百度前必读</a>
    </div>
    -->
</div>
<script src="{{ "/Web/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/Web/js/uikit.js" | relative_url }}"></script>
<script src="{{ "/Web/js/jquery.cxscroll.min.js" | relative_url }}"></script>
