<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<title>聚源汇通（北京）国际投资咨询有限公司</title>


<link rel="icon" type="image/x-icon" href="{{ "/Web/images/logo.png" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "/Web/css/style.css" | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ "/Web/css/list.css" | relative_url }} ">
<link rel="stylesheet" href="{{ "/Web/css/uikit.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/Web/css/nav.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/Web/css/Bxsilder.css" | relative_url }}"/>
<script src="{{ "/Web/js/jquery.js" | relative_url }}"></script>
<script src="{{ "/Web/js/vector.js" | relative_url }}"></script>
<script>
$(function(){
	// 初始化 传入dom id
	var victor = new Victor("container", "output");
});
</script>
</head>
