
<div class="head">
	<div class="head_l">
    	<div class="logo">
    	<a href="{{ site.baseurl }}/"><img src="{{ "/Web/images/logo.jpg" | relative_url }}"/></a>
      </div>
        <div class="head_one-r">
        </div>
    </div>
    <div class="c"></div>
	<div class="head_z">
    	<div id="container">
			<div id="output"></div>
		</div>
    </div>
    <div class="c"></div>
    <div class="head_b">
    	<div class="nav">                                                             
    		<ul class="m-navbar-nav uk-navbar-nav uk-navbar-flip uk-visible-large">                                                                                           
        		<li class="m-parent-1 uk-parent" data-uk-dropdown><a href="{{ site.baseurl }}/"> &nbsp;&nbsp; 首页 &nbsp;&nbsp; </a></li>
				<li class="m-parent-3 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/intro1.html">公司概况</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
			                    <li><a href="{{ site.baseurl }}/pages/intro1.html">基本简介</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro2.html">经营状态</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro3.html">组织机构</a></li>
							</ul>
						</div>
					</div>
                </li>
				<li class="m-parent-1 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/bus1.html">经营业务</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
								<li><a href="{{ site.baseurl }}/pages/bus1.html">融资咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus2.html">营销咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus3.html">品牌资讯策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus4.html">企业专项咨询策划</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="m-parent-2 uk-parent" data-uk-dropdown>
                    <a href="{{ site.baseurl }}/pages/hezuo.html">合作案例</a>
                <!--
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
								<li><a href="../organ/council.html">理事会</a></li>
                                <li><a href="../organ/skill.html">技术委员会</a></li>
                                <li><a href="http://www.dlnel.org/organ/secretary.html">理事会秘书处</a></li>
                                <li><a href="../organ/rule.html">理事会章程</a></li>
							</ul>
						</div>
                    </div>
                -->
				  </li>
                  <li class="m-parent-2 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/culture1.html">企业文化</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
			                    <li><a href="{{ site.baseurl }}/pages/culture1.html">文化理念</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture2.html">员工关怀</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture3.html">社会责任</a></li>
							</ul>
						</div>
					</div>
				  </li>
                <!--
                 <li class="m-parent-2 uk-parent" data-uk-dropdown>
					<a>共享服务</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
								<li><a href="http://cloud.dlnel.org/" target="_blank">工程平台</a></li>
                                <li><a href="http://ai.baidu.com/broad/" target="_blank">开放数据集</a></li>
                                <li><a href="https://ai.baidu.com/" target="_blank">应用开发工具</a></li>
                                <li><a href="http://bit.baidu.com/" target="_blank">培训</a></li>
							</ul>
						</div>
					</div>
                  </li>
                -->
                <li class="m-parent-4 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/contact.html">联系我们</a>
				</li>
			</ul> 
            <button type="button" class="m-navbar-toggle uk-navbar-toggle uk-hidden-large" data-uk-offcanvas="{target:'.m-navbar-toggle-menu'}" style=" ">
			<span class="m-navbar-toggle-icon"></span>
			<span class="m-navbar-toggle-icon"></span>
			<span class="m-navbar-toggle-icon"></span>
			</button>
    	</div>
    </div>
</div>
<div class="m-navbar-toggle-menu uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav>
			<li><a href="{{ site.baseurl }}/">首页</a></li>
			<li class="uk-parent">
				<a href="contact.html#">实验室概况</a>
				<ul class="uk-nav-sub">
					<li><a href="../lab/intro.html">实验室简介</a></li>
                    <li><a href="../lab/mechanism.html">管理运行机制</a></li>
                    <li><a href="../lab/way.html">实验室管理办法</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a href="contact.html#">机构设置</a>
				<ul class="uk-nav-sub">
					<li><a href="../organ/council.html">理事会</a></li>
                    <li><a href="../organ/skill.html">技术委员会</a></li>
                    <li><a href="http://www.dlnel.org/organ/secretary.html">理事会秘书处</a></li>
                    <li><a href="../organ/rule.html">理事会章程</a></li>
				</ul>
			</li>
            <li class="uk-parent">
				<a href="contact.html#">新闻动态</a>
				<ul class="uk-nav-sub">
					<li><a href="../news/news_1.html">实验室动态</a></li>
                    <li><a href="../news/news_2.html">学术交流</a></li>
				</ul>
			</li>
			<li class="uk-parent">
				<a href="contact.html#">研究方向</a>
				<ul class="uk-nav-sub">
					<li><a href="../study/study?cat_id=64">深度学习平台</a></li>
                    <li><a href="../study/study?cat_id=65">计算机视觉感知平台</a></li>
                    <li><a href="../study/study?cat_id=66">计算机听觉感知平台</a></li>
                    <li><a href="../study/study?cat_id=67">生物特征识别平台</a></li>
                    <li><a href="../study/study?cat_id=68">新型人机交互平台</a></li>
                    <li><a href="../study/study?cat_id=69">标准化服务平台</a></li>
                    <li><a href="../study/study?cat_id=70">知识产权平台</a></li>
				</ul>
			</li>
             <li class="uk-parent">
				<a href="contact.html#">共享服务</a>
				<ul class="uk-nav-sub">
					<li><a href="http://cloud.dlnel.org/" target="_blank">工程平台</a></li>
                    <li><a href="http://ai.baidu.com/broad/" target="_blank">开放数据集</a></li>
                    <li><a href="https://ai.baidu.com/" target="_blank">应用开发工具</a></li>
                    <li><a href="http://bit.baidu.com/" target="_blank">培训</a></li>
				</ul>
			</li>    
            <li class="uk-parent">
				<a href="{{ site.baseurl }}/pages/contact.html">联系我们</a>
			</li>
		</ul>
	</div>
</div>