
<div class="head">
	<div class="head_l">
    	<div class="logo">
    	<a href="{{ site.baseurl }}/"><img src="{{ "/Web/images/logo.jpg" | relative_url }}"/></a>
      </div>
        <div class="head_one-r">
        </div>
    </div>
    <div class="c"></div>
	<div class="head_z">
    	<div id="container">
			<div id="output"></div>
		</div>
    </div>
    <div class="c"></div>
    <div class="head_b">
    	<div class="nav">                                                             
    		<ul class="m-navbar-nav uk-navbar-nav uk-navbar-flip uk-visible-large">                                                                                           
        		<li class="m-parent-1 uk-parent" data-uk-dropdown><a href="{{ site.baseurl }}/"> &nbsp;&nbsp; 首页 &nbsp;&nbsp; </a></li>
				<li class="m-parent-3 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/intro1.html">公司概况</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
			                    <li><a href="{{ site.baseurl }}/pages/intro1.html">基本简介</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro2.html">经营状态</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro3.html">组织机构</a></li>
							</ul>
						</div>
					</div>
                </li>
				<li class="m-parent-1 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/bus1.html">经营业务</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
								<li><a href="{{ site.baseurl }}/pages/bus1.html">融资咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus2.html">营销咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus3.html">品牌资讯策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus4.html">企业专项咨询策划</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="m-parent-2 uk-parent" data-uk-dropdown>
                    <a href="{{ site.baseurl }}/pages/hezuo.html">合作案例</a>
				  </li>
                  <li class="m-parent-2 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/culture1.html">企业文化</a>
					<div class="m-dropdown-navbar uk-dropdown uk-dropdown-navbar">
						<div class="uk-container uk-container-center">
							<ul class="uk-subnav">
			                    <li><a href="{{ site.baseurl }}/pages/culture1.html">文化理念</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture2.html">员工关怀</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture3.html">社会责任</a></li>
							</ul>
						</div>
					</div>
				  </li>
                <li class="m-parent-4 uk-parent" data-uk-dropdown>
					<a href="{{ site.baseurl }}/pages/contact.html">联系我们</a>
				</li>
			</ul> 
            <button type="button" class="m-navbar-toggle uk-navbar-toggle uk-hidden-large" data-uk-offcanvas="{target:'.m-navbar-toggle-menu'}" style=" ">
			<span class="m-navbar-toggle-icon"></span>
			<span class="m-navbar-toggle-icon"></span>
			<span class="m-navbar-toggle-icon"></span>
			</button>
    	</div>
    </div>
</div>

<div class="m-navbar-toggle-menu uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-parent-icon uk-nav-offcanvas" data-uk-nav>
			<li><a href="{{ site.baseurl }}/">首页</a></li>
			<li class="uk-parent">
				<a href="{{ site.baseurl }}/pages/intro1.html">公司概况</a>
				<ul class="uk-nav-sub">
			                    <li><a href="{{ site.baseurl }}/pages/intro1.html">基本简介</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro2.html">经营状态</a></li>
                                <li><a href="{{ site.baseurl }}/pages/intro3.html">组织机构</a></li>
				</ul>
			</li>
			<li class="uk-parent">
					<a href="{{ site.baseurl }}/pages/bus1.html">经营业务</a>
				<ul class="uk-nav-sub">
								<li><a href="{{ site.baseurl }}/pages/bus1.html">融资咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus2.html">营销咨询策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus3.html">品牌资讯策划</a></li>
                                <li><a href="{{ site.baseurl }}/pages/bus4.html">企业专项咨询策划</a></li>
				</ul>
			</li>
            <li class="uk-parent">
                    <a href="{{ site.baseurl }}/pages/hezuo.html">合作案例</a>
				<ul class="uk-nav-sub">
				</ul>
			</li>
			<li class="uk-parent">
					<a href="{{ site.baseurl }}/pages/culture1.html">企业文化</a>
				<ul class="uk-nav-sub">
			                    <li><a href="{{ site.baseurl }}/pages/culture1.html">文化理念</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture2.html">员工关怀</a></li>
                                <li><a href="{{ site.baseurl }}/pages/culture3.html">社会责任</a></li>
				</ul>
			</li>
            <li class="uk-parent">
				<a href="{{ site.baseurl }}/pages/contact.html">联系我们</a>
			</li>
		</ul>
	</div>
</div>